.restore {
	background: url("../../assets/imgs/restore__background.jpg") no-repeat center / cover;

	.container {
		padding-top: 90px;
		padding-bottom: 50px;
	}

	&__left {
		max-width: 485px;
		position: relative;
		z-index: 7;
		flex: 1 0;
	}

	&__text {
		color: #fff;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 40px;
		max-width: 420px;

		&_big {
			font-size: 22px;
			font-weight: 500;
		}
	}

	&__right {
		max-width: 500px;
		flex: 1 0 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__girl {
		@include absoluteCenter;
		left: auto;
		top: auto;
		right: -85px;
	}
}

@media screen and (max-width: 1300px) {
	.restore {

		.container {
			justify-content: center;
		}

		&__girl {
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	.wrap .restore {
		padding: 0;
	}

	.restore {

		.container {
			padding: 30px 0 0;
		}

		.title,
		&__text {
			text-align: center;
			margin: 0 auto 30px;
		}

		&__left,
		&__right {
			max-width: 500px;
			flex: 1 0 100%;
		}

		&__girl {
			display: block;
			@include pos-default;
			max-width: 50%;
		}
	}
}
