.product {
	@include absoluteCenter;
	top: auto;
	max-width: 570px;
	background: url("../../assets/imgs/product__background.png") no-repeat 50% 95% / 90%;
	display: flex;
	align-items: center;
	z-index: 4;

	&:before {
		content: '';
		@include absoluteCenter;
		display: block;
		background: url("../../assets/imgs/product__pseudo.png") no-repeat 0 100% / 100%;
		bottom: -60px;
	}

	&__img {
		max-width: 100%;
		margin: 0 auto;
	}

	&__order {
		bottom: -100px;
	}

	&__restore {
		max-width: 500px;
		bottom: -40px;
	}
}

@media screen and (max-width: 1300px) {
	.product {
		&__restore {
			@include pos-default;
		}
	}
}

@media screen and (max-width: 1200px) {
	.product {
		&__order {
			max-width: 410px;
		}
	}
}

@media screen and (max-width: 991px) {
	.product {
		&__order {
			@include pos-default;
			margin-bottom: 60px;
		}

		&__restore {
			max-width: 50%;
			top: auto;
			bottom: -40px;

			&:before {
				bottom: -15px;
			}
		}
	}
}